/*
body {
  background-color: aliceblue;
}

hr{
  border-color: #6f9eaf;
  border-style: dotted none none;
  border-width: 7px;
  width: 4%;
}

h1{
  color: #f58634;
}

h3{
  color: #214151;
}
*/

img{
  height: 200px;
}
